*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  
}

body {
    font-size: 15pt;
}

section, header, footer {
  padding: 10px 3em;
}
h1 {
  font-size: 3em;
}

header, nav, .nav{
  display: flex;
  align-items: center;
}

header {
  background: #777;
  justify-content: space-between;
}
nav {
  display: none;
}
.ham {
  height: 40px;
  width: 40px;
  background: red;
  align-self: flex-end;
  
}
button {
  background: blue;
  border: none;
  outline: none;
  padding: 10px 30px;
}

.hero {
  
  display: flex;
  flex-direction: column;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.ctas,
.heroStats {
  display: flex;
  grid-gap: 20px;
}
.heroImg {
  height: 25em;
  width: 25em;
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroImgStats {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  background: #555;
}

.nftGrid {
  display: grid;
  
}
.nft {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  background: #555;
}
.nftBadge {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 20px;
  background: #000;
}
.nftImg {
  padding: 30px;
}
.nftDetail {
  padding: 10px;
}